input {
  &[type="text"],
  &[type="tel"],
  &[type="email"],
  &[type="number"] {
    border: 1px solid $color-darkgrey;
    border-radius: 2px;
    margin: 2px;
    padding: 2px 5px;
    &.error {
      border-color: $color-red;
    }
  }
}
.width {
  &-2chars {
    width: 25px;
  }
  &-3chars {
    width: 40px;
  }
  &-4chars {
    width: 45px;
  }
  &-5chars {
    width: 60px;
  }
  &-6chars {
    width: 65px;
  }
  &-7chars {
    width: 70px;
  }
  &-8chars {
    width: 75px;
  }
  &-quarter {
    width: 25%;
  }
  &-half {
    width: 50%;
  }
  &-threequarter {
    width: 75%;
  }
}
  
label {
  display: inline-block;
  &.text-right {
    text-align: right;
  }
}
