input {
  &[type="text"],
  &[type="tel"],
  &[type="email"],
  &[type="number"],
  &[type="password"] {
    border: 1px solid $color-darkgrey;
    border-radius: 2px;
    margin: 2px;
    padding: 2px 5px;
    &.error {
      border-color: $color-red;
    }
  }
  &[type="checkbox"],
  &[type="radio"] {
    margin-right: 5px;
  }
}
textarea {
  @extend input[type="text"]
}

.width {
  &-2chars {
    width: 30px;
  }
  &-3chars {
    width: 40px;
  }
  &-4chars {
    width: 45px;
  }
  &-5chars {
    width: 60px;
  }
  &-6chars {
    width: 65px;
  }
  &-7chars {
    width: 70px;
  }
  &-8chars {
    width: 75px;
  }
  &-eigth {
    display: inline-block;
    vertical-align: top;
    width: 12%;
  }
  &-quarter {
    display: inline-block;
    vertical-align: top;
    width: 24%;
  }
  &-thirds {
    display: inline-block;
    vertical-align: top;
    width: 31%;    
  }
  &-half {
    display: inline-block;
    vertical-align: top;
    width: 47.5%;
  }
  &-threequarter {
    display: inline-block;
    vertical-align: top;
    width: 74%;
  }
  &-seveneigths {
    display: inline-block;
    vertical-align: top;
    width: 87%;
  }
}
  
label {
  display: inline-block;
  &.text-right {
    text-align: right;
  }
}
