@import url(https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,400italic,700);

$max-width: 750px;
$font-main: 'Roboto', sans-serif;

$color-blue: #2f5b88;
$color-lightgrey: #dcdde2;
$color-darkgrey: #3c3c3c;
$color-green: #82c32f;
$color-red: #CB1602;
